// Font Colors
$sub-font-color: #999999;
$message-color: #434A54;
$side-color: #FFFFFF;


// Font Sizes
$message-name-size: 16px;
$mesasge-size: 14px;
$message-date-size: 12px;

// Background-colors
$send-button-color: #38AEF0;
$side-menu-bg-color: #253141;
$side-group-list-bg-color: #2f3e51;
$menu-bg-color: #253141;
$contents-bg-color: #AAAAAA;


// Block_paddings
$side-padding: 20px;
$content-padding: 40px;

// Width
$side-bar-width: 300px;
$contents-width: calc(100vw - 300px);

// height
$side-bar-height: 100vh;
$conents-height: 100vh;
$side-bar-menu-height: 61px;
$side-bar-group-height: calc(100vh - 96px);
$side-bar-group-list-height: 71px;
