.flash {
  height: 30px;
  background-color: $send-button-color;
  color: $side-color;
  text-align: center;
  font-size: $message-name-size;
  display: none;
}

.alert {
  margin: 0;
  padding: 10px;
  border: 1px solid transparent;
  border-radius: 4px;
  text-align: center;
}

.alert-success {
  background-color: #dff0d8;
  border-color: #d6e9c6;
  color: #468847;
}

.alert-danger {
  background-color: #f2dede;
  border-color: #ebccd1;
  color: #a94442;
}
