.main__form {

  &--input {
    background-color: #AAAAAA;
    height: 50px;
    padding: $side-padding $content-padding $side-padding $content-padding;
  }

  .input_form {
    height: 50px;
    padding-left: 10px;
    width: 92%;
  }

  .image_button {
    position: absolute;
    right: 180px;
    bottom: 32px;
    cursor: pointer;
  }

  #message_image {
    display: none;
  }

  .submit_button {
    background-color: #38AEF0;
    color: $side-color;
    padding: 10px 30px 10px 30px;
    float: right;
    border: none;
  }
}
